# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.env
*.venv

# Virtual Environments
venv/
env/
ENV/

# Logs
*.log

# Docker
*.dockerignore
docker-compose.override.yml
**/Dockerfile*

# Node (if any frontend)
node_modules/

# IDE files
.vscode/
.idea/
*.swp

# Git
.DS_Store
*.bak
*.tmp

# Pytest
.pytest_cache/
